.jumbotron{
	margin:0;background-color:#E05252;color:white
}
.panel{
	box-shadow:0 0 0;
}
.nav-pills{
	margin:10px 0;
}
.exp-date{
	font-size:0.9em;
	color:#ccc;
}
.exp-type{
	color:#999;
}

input[type="email"]{
	border:1px solid #999;
}
.ng-invalid.ng-dirty{
	border-color:red;
}
.ng-valid.ng-dirty{
	border-color:green;
}

footer{
	background-color:#eee;margin-top:30px;padding:25px 0 0 0;color:#999;
}
.alert{
	cursor:pointer;
}